:root {
  --main-branding-color: #6b8f71;
  --secondary-branding-color: #f8fafc;
  --main-text-color: #3c4048;
  --main-text-font: "Poppins", sans-serif;
}

.App {
  text-align: center;
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  background-color: var(--secondary-branding-color);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
