.custom-navbar {
  background-color: var(--main-branding-color);
  background-image: url(/src/imgs/absurdity-bg.png);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
}

.custom-navbar .nav-link {
  color: var(--main-text-color);
}

.custom-navbar .nav-link.active,
.custom-navbar .nav-link:hover {
  color: var(--main-branding-color) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-brand:hover {
  color: var(--main-text-color) !important;
}

.custom-navbar .navbar-toggler {
  border: 2px solid var(--main-text-color);
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%236b8f71' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
