.custom-navbar {
  background-color: var(--main-branding-color);
  background-image: url(/src/imgs/svg-hintergrund-papier.jpg);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  border-bottom: 3px dotted var(--main-branding-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.custom-navbar .nav-link {
  color: var(--main-text-color);
}

.custom-navbar .nav-link.active,
.custom-navbar .nav-link:hover {
  color: var(--main-branding-color) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-brand:hover {
  color: var(--main-text-color) !important;
}
