.Projekte h1 {
  font-size: 40px;
  color: var(--main-text-color);
  background-color: var(--main-branding-color);
  border-radius: 8px;
  margin: 0 640px 30px;
  padding: 9px 0;
}

@media (max-width: 992px) {
  .Projekte h1 {
    font-size: 30px;
    border-radius: 4px;
    margin: 0 80px 80px;
    padding: 9px 2px;
  }
}
