.ProjectCarousel .container {
  text-align: center;
  min-height: 800px;
  margin-top: 150px;
  margin-bottom: 80px;
}

.ProjectCarousel .carousel-item {
  min-height: 85vh;
}

.ProjectCarousel .projekt-btn {
  font-size: 19px;
  line-height: 1.5;
  color: var(--secondary-branding-color);
  border: 2px solid var(--main-branding-color);
  background-color: var(--main-branding-color);
  transition: all 0.2s ease-in-out;
}

.ProjectCarousel .projekt-btn:hover {
  color: var(--main-branding-color);
  background-color: var(--secondary-branding-color);
  border-color: var(--main-branding-color);
}

.ProjectCarousel p {
  font-size: 20px;
  line-height: 1.7;
  color: var(--main-text-color);
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .ProjectCarousel .container {
    min-height: 500px;
    padding-top: 0;
    margin-top: 50px;
  }

  .ProjectCarousel .carousel-item {
    min-height: 75vh;
  }

  .ProjectCarousel .carousel-item img {
    width: 100%;
    height: auto;
  }

  .ProjectCarousel .projekt-btn {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .carousel-item p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
  }
}
