.Startseite .introduction {
  margin: 80px 0;
}

.Startseite .introduction-text {
  padding-left: 10em;
}

.Startseite h1 {
  font-size: 40px;
  line-height: 1.5;
}

.Startseite .berufsbezeichnung {
  color: var(--main-branding-color);
}

.Startseite .inhaltsverzeichnis {
  color: var(--main-branding-color);
  line-height: 1.5;
  margin-top: 40px;
}

.Startseite ul {
  list-style-type: none;
  padding: 0;
}

.Startseite ul strong {
  text-decoration: dotted underline;
}

.Startseite p,
.Startseite li {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
}

.Startseite .img-startseite {
  display: block;
  margin: 70px auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid var(--secondary-branding-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Startseite .img-startseite:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.Startseite .buttons {
  margin-bottom: 80px;
}

.Startseite .ueber-mich,
.Startseite .projekte {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: var(--main-branding-color);
  border: 2px solid var(--main-text-color);
  background-color: var(--main-text-color);
  transition: all 0.2s ease-in-out;
}

.Startseite .ueber-mich:hover,
.Startseite .projekte:hover {
  color: var(--main-text-color);
  background-color: var(--main-branding-color);
  border-color: var(--main-branding-color);
}

.Startseite .ueber-mich {
  margin: 0 90px 0 80px;
}
