.Startseite h1 {
  font-size: 37px;
  line-height: 1.5;
}

.Startseite .berufsbezeichnung {
  font-size: 40px;
  color: var(--main-branding-color);
  background-color: var(--main-text-color);
  padding: 5px;
  border-radius: 8px;
  margin: 18px 0;
}

.Startseite .inhaltsverzeichnis {
  background-color: var(--main-branding-color);
  line-height: 1.5;
  margin: 40px 90px 13px;
  border-radius: 8px;
  padding: 3px;
}

.Startseite ul {
  list-style-type: none;
  padding: 0;
}

.Startseite p,
.Startseite li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
}

.Startseite .img-startseite {
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Startseite .img-startseite:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.Startseite .buttons {
  margin-top: 40px;
}

.Startseite .ueber-mich,
.Startseite .projekte {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: var(--main-text-color);
  border: 2px solid var(--main-branding-color);
  background-color: var(--main-branding-color);
  transition: all 0.2s ease-in-out;
}

.Startseite .ueber-mich:hover,
.Startseite .projekte:hover {
  color: var(--main-branding-color);
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
}

.Startseite .ueber-mich {
  margin: 0 100px 0 24px;
}
