.UeberMich h1 {
  font-size: 40px;
  color: var(--main-text-color);
  background-color: var(--main-branding-color);
  border-radius: 8px;
  margin: 0 420px;
  padding: 9px 0;
}

.UeberMich .intro-text {
  border: 2px dotted var(--main-text-color);
  border-radius: 8px;
  padding: 15px;
}

.UeberMich p,
.UeberMich li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
}

.UeberMich .img-uebermich {
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.UeberMich .img-uebermich:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.UeberMich .lebenslauf-button {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  margin-top: 15px;
  color: var(--main-text-color);
  border: 2px solid var(--main-branding-color);
  background-color: var(--main-branding-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease-in-out;
}

.UeberMich .lebenslauf-button:hover {
  color: var(--main-branding-color);
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
}

.UeberMich .kontakt {
  margin-bottom: 160px;
}

.UeberMich ul {
  list-style-type: none;
  padding: 0;
}

.UeberMich a {
  color: var(--main-text-color);
  text-decoration: none;
}
